streamlit
torch
pdfplumber==0.11.5
pdfminer.six==20231228
llama-cpp-python==0.2.30
langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
pymupdf  # Required for PyMuPDF (fitz)
numpy
scipy
tqdm
pickle-mixin  # For serializing FAISS index

